@charset "UTF-8";

.coffee_container{
   width : 1100px; 
   margin: 0 auto 100px auto;
   position: relative;
}

.scale {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s ease-in-out;  
}
.scale:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}


ul.smap {
    position: absolute;
    top: 80px; right: 0;
}

ul.smap li {
    vertical-align: middle;
    float: left;
    height: 16px;
    line-height: 16px;
    margin: 0 2.5px;
    font-size: 12px;
    list-style: none;
}


ul.smap a {
    font-size: 12px;
    color: #222222;
}


.myAssignZone h4 {
    font-size: 24px;
    font-weight: bold;
    color: #222;
    border-bottom: 2px solid #333;
    padding-bottom: 18px;
    margin: 80px 0 30px 0;
}

p.t1 {
     width: 600px;
     padding-left: 20px;
    font-size: 16px;
    color: #444;
    margin-bottom: 20px;
    line-height: 1.6;
    min-height: 40px;
}

.timg {width:250px; height:270px; overflow:hidden }

#imgCof{
height: 470px; 
width: 450px;
}